button {
   	font-family: "Raleway Dots", sans-serif;
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 50%;
    border-radius: 5px;
    border-style: none;
    font-size: 18px;
    color: #fff;
    background-color: #7B5562;
    left: 50%;
    user-select: none;
    -moz-user-select: none;
    z-index: 1;
}

#submit-button {
    transform: translate(-100px, 220px);
}

#skip-button {
    border-width: 1px;
    border-style: solid;
    border-color: hsl(340, 12%, 52%);
    background-color: #86626E;
    transform: translate(-100px, 280px);
}

#discord-button {
    transform: translate(-100px, 110px);
}

button:hover, #skip-button:hover {
    color: #7B5562;
    background-color: #fff;
}

#input-field {
    font-family: "Raleway Dots", sans-serif;
    width: 1000px;
    height: 110px;
    position: absolute;
    bottom: 50%;
    border-radius: 5px;
    border-style: none;
    font-size: 70px;
    color: #fff;
    background-color: #93757F;
    left: 50%;
    user-select: none;
    -moz-user-select: none;
    z-index: 1;
    text-align: center;
    transform: translate(-500px, 35px);
}

input:focus {
    outline: none !important;
    border-color: #fff;
}
textarea:focus {
    outline: none !important;
    border-color: #fff;
}

input::placeholder {
  color: #300010;
}
